<template>
  <v-card class="form elevation-2">
    <v-text-field type="number" v-model.number="step"></v-text-field>
    <v-btn primary dark @click="$store.commit('increment', step)">+</v-btn>
    <v-btn primary dark @click="$store.commit('decrement', step)">-</v-btn>
    <v-btn primary dark @click="$store.dispatch('reload')">↺</v-btn>
  </v-card>
</template>

<script>
export default {
  data() {
    return { step: 1 };
  }
};
</script>

<style scoped>
.form {
  padding: 0 1rem 1rem;
}
.form >>> input {
  text-align: center;
  padding-left: 1rem;
}
</style>
