<template>
    <v-card class="card elevation-6">
        <v-card-title primary-title class="value" :class="status">
            {{ $store.state.counter }}
        </v-card-title>
    </v-card>
</template>

<script>
import {mapState} from 'vuex';

export default {
    computed: mapState({
        status: (state) => {
            if (state.counter < 0) return 'red';
            if (state.counter > 50) return 'green';
            return 'blue';
        }
    })
}
</script>


<style scoped>
.value {
  display: grid;
  font-size: 4em !important;
  font-family: Krub, sans-serif;
  font-weight: 300;
  color: #fff;
}
.card {
  background: #0097a7;
  margin: 0 -2rem;
}
.red {
    background: #f44336;
}
</style>
