<template>
    <div>
        <counter-form/>
        <value-card/>
    </div>
</template>

<script>
import counterForm from "~/components/CounterForm";
import valueCard from "~/components/ValueCard";

export default {
  components: {
    counterForm,
    valueCard
  }
};
</script>